
.cell {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
}

#par1 {
  top: 30%;
  left: 30%;
  background-color: gold;
}

#par2 {
  top: 30%;
  left: 70%;
  background-color: gold;
}

#child {
  top: 70%;
  left: 50%;
  background-color: lightblue;

}

#child_info {
  opacity: 0;
  width: 200px;
  height: auto;
  top: 70%;
  left: 20%;
  background-color: teal;
  color: white;


}
